*{
  padding: 0%;
  margin: 0%;
}
.App {

  background-color: goldenrod;
}

#navbar{
  margin: 3rem;
  text-align: center;
}

#Links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

#Links:hover { 
  background-color: red;
} 

.smallImg{
  width: 128px;
  height: auto;
  border-radius: 100px;
}

.smallCard{
background-color:lightcoral;
padding: 15px;
width:100vw;
display: flex;
flex-flow: row wrap;
}