/* G E N E R A L  - A P P - S T Y L I N G */
*{
  padding: 0%;
  margin: 0%;
}

.App {
  font-family: 'IBM Plex Mono', monospace;
}

a:visited{ 
  color: rgb(190, 208, 202);
}

a:hover{
  color: rgb(190, 208, 202);
  text-decoration: none;
}

a:active{
  color: black;
  text-decoration: none;
}

.hero-img img{
  height: 500px;
  width: 100%;
  object-fit: cover; 
}
  
.hero-img h1{
  color: white;
  font-family: 'DM Serif Display', serif;
  font-size: 3em;
  padding-top: 350px;
  position: absolute;
  }

/* L O G O */

.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  word-spacing: normal;
  letter-spacing: -.02em;
  line-height: 1.3em;
  text-transform: none;
  font-size: 3rem;
  color: black;
  text-decoration: solid overline rgb(165, 178, 181);
}

#navbar{
  margin: 3rem;
  text-align: center;
  color: rgb(17, 72, 17);

}

#Links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cover-image{
  height: 50%;
  width: 100%;
}

.smallImg{
  width: 128px;
  height: auto;
  border-radius: 100px;
}

/* L A N D I N G - P A G E - B A N N E R */

#landing-page-banner{
  background-color: rgb(245, 196, 84);
  height: 10vh;
  width: 100vw;
  margin: 10px 10px 10px 0;
  text-align: center;
}
 
#pattern{
  margin: 0 auto;
  background: rgb(51, 101, 190);
  height: 10px;
  width: 100%;
}

#landing-page-banner h1{
  color: white;
  margin: 0 auto;
  font-size: 2rem;
}

/* D I S C O V E R - S E C T I O N */

.discover-info{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.discover-info h2{
  margin: 20px;
  text-decoration: underline rgb(246, 171, 93);
}

/* S M A L L - C A R D */

.smallCard{
  background-color: rbg(245, 244, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-card {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 60vw;
  border-bottom: gray 1px solid;
  width: 100%;
}

.smallCard h2{
  color: rgb(246, 171, 93);
}

.smallCard p{
  color: black;
}

.smallCard small{
  font-weight: 700;
}

.smallCard h4{
  margin-top: 20px;
  margin-bottom: 20px;
}

.smallCard input{
  color: black;
  background: #E9E6DF;
  padding: 0px 30px;
  font-size: 12px;
  margin: 15px;
  justify-items: center;
  font-weight: 500;
  margin: auto;
  } 
  
.smallCard input:hover { 
  background-color: orange;
}

 /* A R T I C L E S */

.articles-section{
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.articles-box{
  align-items: center;
}

/* I N S I D E - A R T I C L E S - S E C T I O N */

.third-div{
  width: 100%;
  display: flex;
  flex-flow: row;
  max-width: 1200px;
  margin-top: 50px;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
/*  height: 25vh;
  padding: 5px;
  display: flex;
  width: 70vw;
  min-width: 500px;
  margin: 2px 0 0;
  overflow: hidden; */
}

.article-img img{
  float: left;
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.article-content{
  width: 80vw;
  float: right;
  padding: 10px;
  margin: 0 auto;
}

small{
  float: right;
  font-weight: 400px;
}

/* M U S I C - S E C T I O N  */

.music-video{
  position:relative;
  display:flex;
  top:0;
  left:0;
  width:100%;
  max-height:500px;
  margin:0;
  overflow-y:auto;
  margin-top: 30px;
  padding-top:20px;
  padding-bottom: 20px;
}

.music-section{
  width: 100vw;
  background-color: (235, 235, 228);
}

/* F O O T E R  */

footer{
  text-align: center;
  margin-top: 25px;
}

.social-media-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  list-style-type: none;
  margin: auto;
  padding: 15px 0 15px 0;
}

#socialImg{
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}



