*{
  padding: 0%;
  margin: 0%;
}
.App {

  background-color: goldenrod;
}

#navbar{
  margin: 3rem;
  text-align: center;
}

#Links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

#Links:hover { 
  background-color: red;
} 
